{% extends 'base.html.twig' %}

{% block title %}Portfolio de Stéphanie VIVIEN
{% endblock %}

{% block body %}
	<div class="blocks-home">

		<section class="about-me-home" id="Qui suis-je">
			<h2 class="h2-home">Qui suis-je?</h2>
			{% for user in users %}
				<p class="description-user-home">{{ user.description }}</p>
			{% else %}
				<p colspan="5">no records found</p>
			{% endfor %}
		</section>

		<section class="hardskill-home-bloc" id="Mes skills">
			<h2 class="h2-home">Mes Hard Skills et Tools</h2>

			<div
				class="boucle-skills-home">{# {% for skill in skills %}
																																																																																																																																																																																							{{ skill.name }}
																																																																																																																																																																																						{% endfor %} #}
			</div>

			<section class="language-home-bloc">
				<h3 class="h3-home">Langues étrangères</h3>
				<div
					class="boucle-languages-home">{# {% for language in languages %}
																																																																																																																																																																																																																											{{ language.name }}
																																																																																																																																																																																																																										{% endfor %} #}
				</div>
			</section>

		</section>

		<section class="softskill-home-bloc">
			<h2 class="h2-home">Mes Soft Skills</h2>
			{% for skill in skills %}
				<div class="block-softskills">
					{{ skill.name }}
				{% endfor %}
			</div>
		</section>

		<section class="experience-home-bloc" id="Mon expérience professionnelle">
			<h2 class="h2-home">Mes expériences professionnelles</h2>
		</section>

		<section class="work-home-bloc" id="Mes projets">
			<h2 class="h2-home">Mes projets</h2>
			<div class="table-works-block">
				<table class="table-works">
					<thead class="thead-works">
						<tr>
							<th class="th-works">Titre</th>
							<th class="th-works">Description</th>
							<th class="th-works">Repo Github</th>
						</tr>
					</thead>
					{% for work in works %}
						<tbody>
							<tr class="tr-works-row">
								<td class="tr-works">{{ work.title }}</td>
								<td class="tr-works">{{ work.description }}</td>
								<td class="tr-works">{{ work.github }}</td>
							</tr>
						</tbody>
					</td>
				</tbody>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table></div></section><section class="education-home-bloc" id="Mes formations"><h2 class="h2-home">Mes formations</h2><div class="table-educations-block">
<table class="table-educations">
	<thead class="thead-educations">
		<tr>
			<th class="th-educations">Titre diplôme</th>
			<th class="th-educations">Année d'obtention</th>
			<th class="th-educations">Ecole</th>
			<th class="th-educations">Description diplôme</th>
		</tr>
	</thead>
	{% for education in educations %}
		<tbody>
			<tr class="tr-educations-row">
				<td class="tr-educations">{{ education.title }}</td>
				<td class="tr-educations">{{ education.year|date('d/m/Y') }}</td>
				<td class="tr-educations">{{ education.school }}</td>
				<td class="tr-educations">{{ education.description }}</td>
			</tr>
		</tbody>
	</td>
</tbody></tr>{% else %}<tr>
<td colspan="5">no records found</td></tr>{% endfor %}</tbody></table></div></section></div>{% endblock %}
