{% extends 'base.html.twig' %}

{% block title %}Portfolio de Stéphanie VIVIEN
{% endblock %}

{% block body %}
	<div class="blocks-home">

		<section class="about-me-home" id="Qui suis-je">
			<h2 class="h2-home">Qui suis-je?</h2>
			{% for user in users %}
				<p class="description-user-home">{{ user.description }}</p>
			{% else %}
				<p colspan="5">no records found</p>
			{% endfor %}
		</section>

		<section class="skill-home-bloc" id="Mes skills">

			<h2 class="h2-home">Mes compétences</h2>

			<div class="bloc-skill">
				{% for skill in skills %}
					<div class="block-skills">{{ skill.name }}</div>
				{% endfor %}
			</div>
			<section class="language-home-bloc">
				<h3 class="h3-home">Langues étrangères</h3>
				<div class="boucle-languages-home">
					<table class="table-languages-home">
						<thead class="thead-languages">
							<tr>
								<th class="th-languages-home">Langue</th>
								<th class="th-languages-home">Niveau</th>
							</tr>
						</thead>
						{% for language in languages %}
							<tbody>
								<tr class="tr-languages-row">
									<td class="tr-languages">{{ language.name }}</td>
									<td class="tr-languages">{{ language.level }}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Pas de valeur trouvée</td>
								</tr>
							</tbody>
						{% endfor %}
					</table>
				</div>
			</section>
		</section>
		<section class="experience-home-bloc" id="Mon expérience professionnelle">
			<h2 class="h2-home">Mes expériences professionnelles</h2>
			<div class="table-experiences-block-home">
				<table class="table-experiences-home">
					<thead class="thead-experiences-home">
						<tr>
							<th class="th-experiences-home">Entreprise</th>
							<th class="th-experiences-home">Poste</th>
							<th class="th-experiences-home">Début</th>
							<th class="th-experiences-home">Fin</th>
						</tr>
					</thead>
					{% for experience in experiences %}
						<tbody>
							<tr class="tr-experiences-row-home">
								<td class="tr-experiences-home">{{ experience.company }}</td>
								<td class="tr-experiences-home">{{ experience.job }}</td>
								<td class="tr-experiences-home">{{ experience.startyear.format('d/m/y') }}</td>
								<td class="tr-experiences-home">{{ experience.endyear.format('d/m/y') }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">aucune valeur trouvée</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
		</section>
		<section class="work-home-bloc" id="Mes projets">
			<h2 class="h2-home">Mes projets</h2>
			<div class="table-works-block-home">
				<table class="table-works-home">
					<thead class="thead-works-home">
						<tr>
							<th class="th-works-home">Titre</th>
							<th class="th-works-home">Description</th>
							<th class="th-works-home">Repo Github</th>
						</tr>
					</thead>
					{% for work in works %}
						<tbody>
							<tr class="tr-works-row-home">
								<td class="tr-works-home">{{ work.title }}</td>
								<td class="tr-works-home">{{ work.description }}</td>
								<td class="tr-works-home">{{ work.github }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
		</section>
		<section class="education-home-bloc" id="Mes formations">
			<h2 class="h2-home">Mes formations</h2>
			<div class="table-educations-block-home">
				<table class="table-educations-home">
					<thead class="thead-educations-home">
						<tr>
							<th class="th-educations-home">Titre diplôme</th>
							<th class="th-educations-home">Année d'obtention</th>
							<th class="th-educations-home">Ecole</th>
							<th class="th-educations-home">Description diplôme</th>
						</tr>
					</thead>
					{% for education in educations %}
						<tbody>
							<tr class="tr-educations-row-home">
								<td class="tr-educations-home">{{ education.title }}</td>
								<td class="tr-educations-home">{{ education.year|date('d/m/Y') }}</td>
								<td class="tr-educations-home">{{ education.school }}</td>
								<td class="tr-educations-home">{{ education.description }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
		</section>
	</div>
{% endblock %}
