{% extends 'base.html.twig' %}

{% block title %}Hello Steph!
{% endblock %}

{% block body %}

	<div class="container-skill">

		<h1 class="h1-skills">Créer un nouveau skill</h1>
<div class="form-new-skill-block">
		{{ form_start(formSkill) }}

		<div class="form-new-skill-name">
			{{ form_widget(formSkill.name) }}
			<div class="form-skill-error">
				{{ form_errors(formSkill.name) }}
			</div>
		</div>

		<div class="form-new-skill-category">
			{{ form_widget(formSkill.category) }}
		</div>

		<div class="form-new-skill-submit">
			{{ form_row(formSkill.submit) }}
		</div>

		{{ form_end(formSkill) }}
</div>
		<div class="link-come-back">
			<a href="{{ path('app_skill') }}" class="link-come-back-button">Retour</a>
		</div>

	</div>
{% endblock %}
